* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

.grecaptcha-badge {
    opacity: 0;
    visibility: hidden;
}

.preloader-container {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #FFFFFF;
}

.container-xl {
    max-width: 1720px;
    margin: auto;
    width: 90%;
}

.container {
    max-width: 1600px;
    margin: auto;
    width: 90%;
}

.container-sm {
    max-width: 1340px;
    margin: auto;
    width: 90%;
}

.logo {

}

.btn-animated {
    height: 50px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    padding: 1px;
    position: relative;
    text-decoration: none;
    &:hover {
        .btn-animated--text {
            color: #FFFFFF;
            transition: 0.3s;
            svg {
                fill: #FFFFFF;
                transition: 0.3s ease-in-out;
            }
        }
        .btn-animated--background-light:before {
            margin-top: calc(24px - 50%);
            left: 0;
            padding: 50%;
            transition: 0.3s ease-in-out;
        }
    }
    &--big {
        height: 70px;
        .btn-animated--text {
            padding: 0 50px;
            height: 68px;
            gap: 16px;
            svg {
                height: 14px;
                width: 14px;
            }
        }
        .btn-animated--background-light {
            &:before {
                margin-top: 34px;

            }
        }
        &:hover {
            .btn-animated--background-light:before {
                margin-top: calc(34px - 50%);
            }
        }
    }
    &--green {
        &:hover {
            .btn-animated--text {
                color: #008753;
                svg {
                    fill: #008753;
                }
            }
        }
        .btn-animated--text {
            color: #FFFFFF;
            svg {
                fill: #FFFFFF;
            }
        }
        .btn-animated--background-light {
            background: #008753;
            &:before {
                background: #FFFFFF;
            }
        }
    }
    &--white {
        &:hover {
            .btn-animated--text {
                color: #FFFFFF;
                svg {
                    fill: #FFFFFF;
                }
            }
        }
        .btn-animated--text {
            color: #111827;
            svg {
                fill: #111827;
            }
        }
        .btn-animated--background-light {
            background: #FFFFFF;
        }
    }
    &--centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--background-light {
        background: #FFFFFF;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        left: 1px;
        top: 1px;
        border-radius: 35px;
        z-index: 99;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            margin-top: 24px;
            transition: 0.3s ease-in-out;
            background: #00C677;
            border-radius: 50%;
        }
    }
    &--background-dark {
        background: #008753;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 98;

        &:before,
        &:after {
            background: #1ce793;
            content: "";
            height: 155px;
            width: 50px;
            position: absolute;
            transform: rotate(35deg);
            z-index: -10;
            top: -50px;
            left: -75px;
        }

        &:after {
            animation: animation-lights 2s linear infinite;
        }

        &:before {
            animation: animation-lights 4s linear infinite;
        }
    }
    &--text {
        padding: 0 40px;
        cursor: pointer;
        height: 48px;
        text-decoration: none;
        gap: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #008753;
        background: transparent;
        position: relative;
        z-index: 100;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
        svg {
            fill: #008753;
            transition: 0.3s ease-in-out;
        }
    }
}

@keyframes animation-lights {
    0% {
        left: -75px;
    }
    100% {
        left: 120%;
    }
}

.btn-primary {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 40px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;

    &.btn-primary--green {
        border: 1px solid #008753;

        span {
            color: #008753;
        }
    }

    &.btn-primary--white {
        border: 1px solid #fff;

        span {
            color: #fff;
        }
    }

    &.btn-primary--disabled {
        border: 1px solid rgba(17, 24, 39, 0.30);

        span {
            color: rgba(17, 24, 39, 0.30);
        }

    }

    img {
        transition: .4s;
    }

    @media (hover:hover) {
        &:hover {
            img {
                transition: .4s;
                transform: rotate(45deg);
            }
        }
    }
}

.text-send {
    display: none;
    &.active {
        display: flex;
    }
}

.text-next {
    &.hide {
        display: none;
    }
}

.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
        font-weight: 800;
        color: #111827;
    }

    .pretitle {
        color: #008753;
        margin-bottom: 16px;
    }

    .subtitle {
        margin-top: 30px;
    }
}


// tab inner

.tab__list {
    margin-top: 100px;
}

.tab__item {
    cursor: pointer;
    transition: .4s;

    &:last-child {
        .tab__item-inner {
            border-bottom: 1px solid #D9D9D9;
        }
    }

    &.tab__item--active {
        background: #111827;
        padding: 0 50px;
        transition: .4s;

        .tab__item-inner {
            border-top: none;
        }

        .tab__item-content {
            color: #fff;
        }

        .tab__item-controls {
            span {
                color: #fff;
            }

            .tab__item-arrow {
                background-color: #00C677;

                svg {
                    fill: #fff;
                    transform: rotate(-45deg);
                }
            }
        }

        .tab__item-text {
            color: #fff;
            padding-top: 40px;
            transition: .4s;
        }
    }
}

.tab__item-text {
    max-width: 954px;
    line-height: 36px;
    max-height: 0;
    overflow: hidden;
    transition: .4s;
}

.tab__item-inner {
    padding: 50px 0;
    border-top: 1px solid #D9D9D9;
}

.tab__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.tab__item-content {
    font-weight: 300;

    span {
        color: #008753;
        font-weight: 900;
    }
}

.tab__item-controls {
    display: flex;
    align-items: center;
    gap: 55px;

    span {
        font-weight: 300;
    }
}

.tab__item-arrow {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #00C677;
    }
}

@keyframes blink-animation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(30px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(15px);
    }
}

.marguee {
    height: 100px;
    padding: 30px 0;
    background: #F2F7F5;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    z-index: 21;
}

.marguee__content {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.marguee-bottom {
    padding-left: 70px;
}

.marguee__item {
    align-items: center;
    gap: 50px;
    display: inline-block;
    margin-right: 20px;
    .text-xlarge {
        margin-right: 20px;
        text-transform: uppercase;
    }
}

.form__success {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #00C677;
    color: #fff;
}


@media (max-width: 980px) {
    .tab__item-header {
        flex-direction: column;

        .tab__item-content {
            order: 2;

            p {
                text-align: center;
            }
        }

        .tab__item-controls {
            order: 1;
            width: 100%;
            justify-content: space-between;
        }
    }

    .tab__item.tab__item--active {
        padding: 0;
    }

    .tab__list {
        margin-top: 80px;
    }

    .tab__item-inner {
        padding: 30px 0;
    }
}

// iti
.iti {
    width: 100%;
}

.iti__selected-dial-code {
    font-size: 14px;
}


.iti__search-input {
    width: 250px;
    padding: 7px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
    &::placeholder {
        color: #BBB;
    }
}



//

.swiper-slide {
    cursor: grab;
}
