.modal {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    justify-content: center;
    overflow: auto;

    &--active {
        display: flex;
    }

    .form-cta {
        margin-top: 100px;
        @media (max-height: 1020px) {
            margin-top: 60px;
        }
        @media (max-height: 830px) {
            margin-top: 36px;
        }
    }

    .btn-primary {
        margin: auto;
    }
    .section-header h2 {
        @media (max-width: 1430px) {
            font-size: 54px;
        }
        @media (max-height: 830px) {
            font-size: 46px;
        }
        @media (max-width: 980px) {
            font-size: 32px;
        }
    }
}

.modal-inner {
    max-width: 650px;
    padding: 100px 0;
    height: fit-content;
    @media (max-height: 1020px) {
        padding: 70px 0;
    }
    @media (max-height: 860px) {
        padding: 60px 0;
    }
    @media (max-height: 830px) {
        padding: 38px 0;
    }
    .section-header{
        gap: 30px;
        @media (min-width: 769px) and (max-height: 830px) {
            gap: 24px;
        }
    }
}

.btn__modal-close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 100px;
    top: 100px;
    cursor: pointer;

    svg {
        width: 90px;
        height: 90px;
        path {
            fill: #00C677;
        }
    }
}

.form-calc__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;

    .btn-primary {
        margin: 0;
    }


    .btn-primary--disabled {
        display: none;
    }
}



.modal--lang {
    .modal-inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 90%;

        .btn-primary {
            max-width: 400px;
            width: 100%;
            justify-content: center;
            position: relative;
            margin: 0;

            &::after {
                content: '';
                width: 21.103px;
                height: 12px;
                background-image: url(../assets/img/arrow-lang.svg);
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translate(0, -50%);
            }

            &.btn-primary__lang-active {
                background: #008753;

                &::after {
                    background-image: url(../assets/img/arrow-lang-white.svg);
                }

                span {
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .btn__modal-close {
        right: 60px;
        top: 60px;
    }
}

@media (max-width: 980px) {

    .btn__modal-close {

        right: 20px;
        top: 20px;

        svg {
            width: 40px;
            height: 40px;
            path {
                &:first-child {
                    fill: #fff;
                }
            }
        }
    }

    .modal .form-cta {
        margin-top: 50px;
    }

    .modal-inner {
        padding: 60px 0;
    }

}
